/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #111;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  color: white;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: #ff9900;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.search-bar button {
  background-color: #febd69;
  border: none;
  position: relative;
  cursor: pointer;
}

.search-bar img{
    height: 40px;
    width:40px;
  background-color: #febd69;
  position:relativ;
  border: 2px solid #febd69;
  padding-top: 2px;
}

.cart {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

/* Product Card */
.product {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  border: black solid 2px;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.product h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.product p {
  color: #007600;
  font-weight: bold;
}

.product button {
  background-color: #ffd814;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.product button:hover {
  background-color: #f7ca00;
}

/* Footer */
footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #131921;
  color: white;
  margin-top: 2rem;
}
